body{
	background-image: url('assets/img/space.gif');
	background-repeat: repeat;
	font-family: 'Montserrat';
	z-index: 1;
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

#navbar {
	position: absolute;
	z-index: 2;
	color: #5B2333;
	top: 10%; 
	right: 5%;
	overflow-y: visible;
}

#navbar:hover {
	cursor: pointer;
}

.home a{
	position: absolute;
	background-color: #5B2333;
	text-decoration: none;
	color: white;
	font-size: 18px;
	padding: 8px;
	right: 220px;
	bottom: 10%;
}

.home a:hover {
	background-color: white;
	color: #5B2333;
}

.work a{
	position: absolute;
	text-decoration: none;
	color: #5B2333; 
	font-size: 18px;
	padding: 8px;
	right: 100px;
	bottom: 10%
}

.work a:hover {
	background-color: #5B2333;
	color: white;
}

.contact a{
	position: absolute;
	text-decoration: none;
	color: #5B2333;
	font-size: 18px;
	padding: 8px;
	right: -30px;
	bottom: 10%
}

.contact a:hover {
	background-color: #5B2333;
	color: white;
}

#title {
	margin: 0;
	padding: 0;
	z-index: 3;
	text-transform: uppercase;
	font-size: 4em;
	letter-spacing: 8px;
	mix-blend-mode: difference;
	color: #5B2333;
	transform-origin: center;
	animation: floating 10s linear infinite;
}

@keyframes floating {
	0% { transform: translateY(0px) rotate(0deg); }
	25% { transform: translateY(-1px) rotate(-2deg); }
	50% { transform: translateY(0px) rotate(0deg); }
	75% { transform: translateY(1px) rotate(2deg); }
	100% { transform: translateY(0px) rotate(0deg); }
	}

.bubbles {
	position: absolute;
	bottom: 200px;
	right: 80px;
	width: 100%;
	height: 100%;
	z-index: 0;
	transform: translateZ(0);
}

.bubbles li {
	position: absolute;
	list-style: none;
	display: block;
	border-radius: 50%
	background-color: #fff;
	bottom: -100px;
	animation: bubbles 10s infinite;
	transition-timing-function: linear;
}

.bubbles li:nth-child(1) {
	width: 50px;
	height: 50px;
	left: 20%;
}

.bubbles li:nth-child(2) {
	width: 20px;
	height: 20px;
	left: 40%;
	animation-delay: 2s;
	animation-duration: 15s;
}

.bubbles li:nth-child(3) {
	width: 70px;
	height: 70px;
	left: 60%;
	animation-delay: 4s;
	animation-duration: 13s;
}

.bubbles li:nth-child(4) {
	width: 80px;
	height: 80px;
	left: 80%;
	animation-delay: 1s;
	animation-duration: 14s;
}

.bubbles li:nth-child(5) {
	width: 50px;
	height: 50px;
	left: 50%;
	animation-delay: 7s;
	animation-duration: 12s;
}

.bubbles li:nth-child(6) {
	width: 50px;
	height: 50px;
	right: 10px;
	animation-delay: 0.5s;
	animation-duration: 12s;
}

.bubbles li:nth-child(7) {
	width: 50px;
	height: 50px;
	left: 50%;
	animation-delay: 20s;
	animation-duration: 12s;
}

.bubbles li:nth-child(8) {
	width: 50px;
	height: 50px;
	left: 50%;
	animation-delay: 16s;
	animation-duration: 12s;
}

@keyframes bubbles {
	0% {
		border-radius: 50%;
		background-color: #5B2333;
		transform: translateY(0);
	}
	50% { 
		opacity: 0.3;
		background-color: #fff;
	}
	100% {
		opacity: 0;
		border-radius: 50%;
		transform: translateY(-1080px) rotate(630deg);
	}
}

#scroll-button a {
  padding-top: 80px;
}

#scroll-button a span {
  position: absolute;
  bottom: 80px;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #5B2333;
  border-bottom: 1px solid #5B2333;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
#scroll-button a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
#scroll-button a span:nth-of-type(2) {
  bottom: 60px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}

@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#info {
	position: absolute;
	z-index: 2;
	color: #5B2333;
	bottom: 10%; 
	left: 5%;
	overflow-y: visible;
}

#navbar:hover {
	cursor: pointer;
}

.fb {
	position: absolute;
	font-size: 18px;
	padding: 8px;
	left: 220px;
	top: 10%;
}

.fb:hover {
	background-color: #5B2333;
	color: white;
}

.insta {
	position: absolute;
	font-size: 18px;
	padding: 8px;
	left: 90px;
	top: 10%
}

.insta:hover {
	background-color: #5B2333;
	color: white;
}

.linkedin {
	position: absolute;
	font-size: 18px;
	padding: 8px;
	left: -30px;
	top: 10%
}

.linkedin:hover {
	background-color: #5B2333;
	color: white;
}

